<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.openquestion.mapper.OpenQuestionMapper">

    <select id="getByOpenQuestionIds" resultType="com.jt.openquestion.entity.OpenQuestion">
            SELECT
            op.`OpenQuestionId`,
            op.`SourceQuestionId`,
            op.`SourcePlatform`,
            op.`QuestionContent`,
            op.`OriginalQuestionLevel`,
            op.`CourseId`,
            op.`OriginalKnowledgePointLabels`,
            op.`QuestionSource`,
            op.`OriginalUseRange`,
            op.`UseRange`,
            op.`QuestionOnlineTime`,
            op.`Credibility`,
            op.`OriginalSecondaryKnowledgePointLabels`,
            op.`OriginalCapabilityAnalysis`,
            op.`OriginalSolveMethodLabels`,
            op.`CreatedOn`,
            op.`ModifiedOn`,
            op.`LabelUseType`,
            opr.`ReferenceCount`,
            opr.`AnswerCount`,
            opr.`AnswerCorrectRate`
        FROM `Openquestion` AS op
        LEFT JOIN `openquestionreference` AS opr ON op.OpenQuestionId = opr.OpenQuestionId
        WHERE op.OpenQuestionId in (#{ids});
    </select>
</mapper>